# Boot the ISO from a GRUB loopback on an existing install, without writing it
# to a USB stick. https://www.supergrubdisk.org/wiki/Loopback.cfg
#
# mkarchiso substitutes the %...% placeholders and copies this to
# /boot/grub/loopback.cfg on ISO 9660. Kept in sync with grub.cfg -- the only
# difference is how the root device is located (img_dev/img_loop instead of
# archisolabel).

# Search for the ISO volume
search --no-floppy --set=gershwin_img_dev --file "${iso_path}"
probe --set gershwin_img_dev_uuid --fs-uuid "${gershwin_img_dev}"

# Get a human readable platform identifier
if [ "${grub_platform}" == 'efi' ]; then
    gershwin_platform='UEFI'
elif [ "${grub_platform}" == 'pc' ]; then
    gershwin_platform='BIOS'
else
    gershwin_platform="${grub_cpu}-${grub_platform}"
fi

# Set default menu entry
default=gershwin
timeout=5
timeout_style=menu


# Menu entries

menuentry "Gershwin on Arch Linux (%ARCH%, ${gershwin_platform})" --class arch --class gnu-linux --class gnu --class os --id 'gershwin' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% img_dev=UUID=${gershwin_img_dev_uuid} img_loop="${iso_path}" quiet splash
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}

menuentry "Gershwin on Arch Linux (%ARCH%, ${gershwin_platform}, verbose)" --class arch --class gnu-linux --class gnu --class os --id 'gershwin-verbose' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% img_dev=UUID=${gershwin_img_dev_uuid} img_loop="${iso_path}"
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}

menuentry 'System shutdown' --class shutdown --class poweroff {
    echo 'System shutting down...'
    halt
}

menuentry 'System restart' --class reboot --class restart {
    echo 'System rebooting...'
    reboot
}
